<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <title>Daniel's Web App</title>
    </head>

    <body>

        <header>
            <nav class="navbar navbar-expand-lg bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Daniel's Web App</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/calculator/">Calculator</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/resume">Resume</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                            <li><a class="nav-link" href="{{ url_for('logout') }}">Log Out</a></li>
                        {% else %}
                            <li><a class="nav-link" href="{{ url_for('login') }}">Log In</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>

    <footer id="footer" class="footer text-center">
        <div>
            Created by Daniel Yip 2023
            <a href="https://www.linkedin.com/in/daniel-yip-4b8426a6/"><i class="bi bi-linkedin"></i></a>
            &nbsp;
            <a href="https://github.com/daniel-yip92/portfolio-website"><i class="bi bi-github"></i></a>
        </div>
    </footer>
</html>