{% extends "layout.html" %}
{% block content %}
<html>
    <head>
        <style>
            table.table1.scrolldown {
                width: 100%;
                border-spacing: 0;
                border: 1px solid black;
            }

            table.table1.scrolldown tbody, table.table1.scrolldown thead {
                display: block;
            }

            table.table1 thead th {
                width : 20%;
                border-right: 1px solid black;
            }
            table.table1.scrolldown tbody {
                height: 240px;
                overflow-y: auto;
                overflow-x: hidden;
            }
            table.table1 tbody td {
                width : 20%;
                border-right: 1px solid black;
            }
            table.table1, td table.table1 thead th {
                text-align:center;
            }
        </style>
    </head>
    <body onload="startTime()">
        <div class="home">
            <h1 style="text-align: center">Mini Project A</h1>
            <h2 style="text-align: center">Portfolio Website and Simple Web App in Python using Flask.</h2>
        </div>
        <br>

        <div class="container">
            <div class="row align-items-start">
                <div class="col">
                    <h3>Comment Section</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Posted Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comment in comments %}
                            <tr>
                                <th scope="row">{{ comment.id }}</th>
                                <td>
                                    <div class="row" style="margin-bottom: 1ex">{{ comment.content }}</div>
                                    <div><small>Posted {{ comment.posted.strftime("%A, %d %B %Y at %H:%M") }} by
                                    {% if comment.commenter %}
                                        {{ comment.commenter.username }}
                                    {% else %}
                                        anonymous
                                    {% endif %}</small></div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                        <div class="row">
                            <form action="." method="POST">
                                {% if current_user.is_authenticated %}
                                <textarea class="form-control" name="contents" placeholder="Enter a comment" required></textarea>
                                <input type="submit" class="btn btn-success" value="Post comment">
                                {% else %}
                                <textarea class="form-control" name="contents" placeholder="Login to post a comment" disabled></textarea>
                                {% endif %}
                            </form>
                        </div>

                </div>

                <div class="col">
                    <h3>Weather in Singapore using API from Open-Meteo</h3>
                    <a href="https://open-meteo.com/">Open-Meteo</a>
                    <p> Time now = {{ time_now.strftime("%Y-%m-%d") }}
                    <span id="txt"></span>

                        <script>
                            function startTime() {
                              const today = new Date();
                              let h = today.getHours();
                              let m = today.getMinutes();
                              let s = today.getSeconds();
                              m = checkTime(m);
                              s = checkTime(s);
                              document.getElementById('txt').innerHTML =  h + ":" + m + ":" + s;
                              setTimeout(startTime, 1000);
                            }

                            function checkTime(i) {
                              if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
                              return i;
                            }
                        </script>
                    </p>

                    <p> Weather now = {{ "Temp: %s, Humidity: %s, Feels Like: %s, Rain chance: %s" % (data.get(time_now.strftime("%Y-%m-%dT%H:00"))) }}</p>
                    <table class="table table1 table-striped scrolldown" id="weather">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Temperature</th>
                                <th>Relative Humidity</th>
                                <th>Apparent Temperature</th>
                                <th>Rain chance %</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hour, value in data.items() %}
                            <tr>
                                <td>{{ hour }}</td>
                                <td>{{ value[0] }}</td>
                                <td>{{ value[1] }}</td>
                                <td>{{ value[2] }}</td>
                                <td>{{ value[3] }}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                    <!--
                    data.hourly.temperature_2m
                    data.hourly.relativehumidity_2m
                    data.hourly.apparent_temperature
                    data.hourly.precipitation_probability

                    data.daily.weathercode
                    -->

                </div>
            </div>

        </div><!-- /.container -->

    </body>
</html>
{% endblock %}