{% extends "layout.html" %}
{% block content %}
<html>
    <head>
        <style>
            table.table1.scrolldown {
                width: 100%;
                border-spacing: 0;
                border: 1px solid black;
            }

            table.table1.scrolldown tbody, table.table1.scrolldown thead {
                display: block;
            }

            table.table1 thead th {
                width : 20%;
                border-right: 1px solid black;
            }
            table.table1.scrolldown tbody {
                height: 240px;
                overflow-y: auto;
                overflow-x: hidden;
            }
            table.table1 tbody td {
                width : 20%;
                border-right: 1px solid black;
            }
            table.table1, td table.table1 thead th {
                text-align:center;
            }
        </style>
    </head>
    <body>
        <div class="home">
            <h1 style="text-align: center">Mini Project A</h1>
            <h2 style="text-align: center">Portfolio Website and Simple Web App in Python using Flask.</h2>
        </div>
        <br>

        <div class="container">
            <div class="row align-items-start">
                <div class="col">
                    <h3>Comment Section</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Posted Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comment in comments %}
                            <tr>
                                <th scope="row">{{ comment.id }}</th>
                                <td>
                                    <div class="row" style="margin-bottom: 1ex">{{ comment.content }}</div>
                                    <div><small>Posted {{ comment.posted.strftime("%A, %d %B %Y at %H:%M") }} by anonymous</small></div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                        <div class="row">
                            <form action="." method="POST">
                                {% if current_user.is_authenticated %}
                                <textarea class="form-control" name="contents" placeholder="Enter a comment" required></textarea>
                                <input type="submit" class="btn btn-success" value="Post comment">
                                {% else %}
                                <textarea class="form-control" name="contents" placeholder="Login to post a comment" disabled></textarea>
                                {% endif %}
                            </form>
                        </div>

                </div>

                <div class="col">
                    <h3>Weather in Singapore using API from Open-Meteo</h3>
                    <a href="https://open-meteo.com/">Open-Meteo</a>
                    <table class="table table1 table-striped scrolldown">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Temperature</th>
                                <th>Relative Humidity</th>
                                <th>Apparent Temperature</th>
                                <th>Rain chance %</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hour, value in data.items() %}
                            <tr>
                                <td>{{ hour }}</td>
                                <td>{{ value[0] }}</td>
                                <td>{{ value[1] }}</td>
                                <td>{{ value[2] }}</td>
                                <td>{{ value[3] }}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                    <!--
                    data.hourly.temperature_2m
                    data.hourly.relativehumidity_2m
                    data.hourly.apparent_temperature
                    data.hourly.precipitation_probability

                    data.daily.weathercode
                    -->

                </div>
            </div>

            <div>
                Created by Daniel Yip 2023
                <a href="https://www.linkedin.com/in/daniel-yip-4b8426a6/">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 24 24">
                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                </svg>
                </a>
            </div>

        </div><!-- /.container -->

    </body>
</html>
{% endblock %}